<div class="container">

<div class="home-image">
    <img src="https://img.freepik.com/premium-photo/education-technology-school-concept-smiling-female-student-with-classmates-computer-class-school_380164-84654.jpg" alt="">
</div>
<h2><span style="color:#083050; font-size:44px;">StriveSmart</span></h2>
<h3>Educational Institute</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Ad eligendi quos ea totam suscipit adipisci soluta vitae eius nobis? Nemo ut quod sequi cum!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem natus voluptas necessitatibus quos molestiae reiciendis deserunt, quis numquam voluptates dolorum dolores autem veritatis quam facere voluptatum magnam commodi sint tempora!
At doloremque tenetur asperiores beatae consequatur quos laboriosam eaque, ipsa maxime optio necessitatibus, amet animi harum quam excepturi officiis temporibus iusto nostrum est. Modi debitis repudiandae animi architecto, facere quas.
Animi maiores rem modi dolores sed reiciendis dolorem dicta id ut dolorum temporibus quo nisi quis similique illo pariatur nihil, impedit repellendus amet quisquam? Quos itaque veniam minus adipisci autem!
Quaerat ducimus iusto dicta nostrum autem assumenda culpa earum adipisci commodi possimus, ullam harum repellendus eveniet quisquam voluptas quam laborum vero nemo magni libero in debitis rem. Eaque, labore delectus?
Veniam quidem, distinctio cum ex pariatur impedit ea laboriosam minus ipsam sequi recusandae velit minima laudantium dolores repellat aperiam repudiandae? Culpa hic est dolore. Maxime accusamus quibusdam exercitationem eos aspernatur.
Unde pariatur, officia assumenda fuga voluptate quod deleniti? Officiis assumenda a tenetur ullam doloribus beatae accusamus quibusdam exercitationem reprehenderit ad harum debitis nam aperiam obcaecati possimus corrupti, impedit velit totam?
Officiis repellendus repudiandae </p>
<h5>About Us</h5>
<p>amet quis nobis facilis dolor assumenda quod, architecto eius dolores quasi sit animi cum, accusantium ut. Fugit rem eaque id earum illum illo doloribus placeat cupiditate culpa!
Deleniti rem quibusdam quam aspernatur! Voluptatum nisi, ipsum eum aliquam quasi quisquam at sunt ipsam! Eligendi nisi voluptate eum obcaecati a. Debitis ipsa modi quisquam quaerat. Sed beatae non illo.
Et molestias temporibus, quaerat eos, consectetur delectus tempora quo laudantium alias soluta architecto adipisci fuga cumque sequi aperiam repellat impedit odit explicabo facere aut voluptas vitae similique deserunt nesciunt. Id.
In, aliquid aspernatur minima, debitis beatae tempora eum fugiat magnam quisquam mollitia id officia sunt ab nostrum ea, expedita aliquam repudiandae consequatur doloribus facere veniam dolorem. Possimus fugit sint minus.
Non quidem, sed sapiente nemo deleniti tenetur quasi expedita suscipit dicta quos, et quia sequi, eveniet recusandae in. Assumenda ea dolorem reiciendis consequuntur odio dolore commodi eaque voluptatibus soluta quos.
Voluptatibus doloribus ea soluta et nihil odio, beatae quos reprehenderit quo modi magnam eaque sapiente alias quibusdam veniam incidunt eos, minus enim autem. Esse unde fugit soluta ullam dicta eius!
Nulla distinctio velit, accusantium sit dolores voluptate amet fuga corporis similique laboriosam
</p>
</div>

    
<footer>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" style="display:flex; align-items:center; justify-content:center">
            <a href="/"><img src="https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/6565bd61-0fe6-459e-9ae4-69ead84c1fc4.png" alt="logo" class="logo"></a>
        </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>    
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                </ul>
            </div>
       
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="address">
                <span>Contact</span>       
                <li>
                   <i class="fa fa-phone" aria-hidden="true"></i> 
                   <a href="#">037-2224911 | 037-2229583</a>
                </li>
                <li>
                   <i class="fa fa-map-marker" aria-hidden="true"></i> 
                   <a href="#">No.22/1, Wilgoda Road, Kurunegala</a>
                </li> 
               </ul>
            </div>
  </div>
</footer>